{% extends "shop/layout.html" %}

{% block content %}         {# 조회이기 때문에 get #}
    <h2>Shop List</h2>

    <div class="row">
        <div class="col-sm-8">
            <ul>
                {% for shop in shop_list %}
                    <li>
                        <a href="{% url "shop:shop_detail" shop.pk %}">
                            {{ shop.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-sm-4">
            <form action="" method="get">    {# action: 어떤 url로 보낼거냐, "": 현재 주소, method: 전달되는 방법->get 방식 #}
                <input type="text"
                       name="query"
                       placeholder="검색어를 입력해주세요."
                       value="{{ request.GET.query }}"/>
                <input type="submit" value="검색"/> {# 검색 버튼, submit: 검색 내용을 제출하겠다. #}
            </form>

            <ul>
                <li>
                    <a href="?category_id=">
                        전체
                    </a>
                </li>
                {% for category in category_list %}
                    <li>
                        <a href="?category_id={{ category.pk }}">
                            {{ category.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}